body{
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}
h1{
    font-size: 70px;
}

.grey-text{
    color:beige;
    font-size: 1.3em;
    margin-bottom: -30px;
    margin-top: 80px;
}
.dreams{
    display: flex;
    margin-top: 5%;
}
.dreams::after{
    background-image: url(images/banner-left-dec.png);
    position: absolute;
    width: 214px;
    height: 429px;
    content: '';
    bottom: -50px;
    z-index: -1;
}
#welcome2::after{
    background-image: url(images/banner-right-dec.png);
    position: absolute;
    width:378px;
    height: 378px;
    content: '';
    right: 50px;
    z-index: -1;
}
.welcomes{
    width: 50%;
    margin-left: 10%;
}
.welcomes img {
    width: 80%;
}
.color-text{
    color: blueviolet;
}
.join-button{
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blueviolet, #DF8EDA);
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 5px;
}
.join-button:hover{
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient( tomato,orange);
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 5px;
}

.service-section{
    width: 100%;
    text-align: center;
}
#service-para{
    text-align: center;
    font-size: 1.4em;
    margin: 10% 0%;
}
.service {
    display: flex;
    width: 80%;
    margin: auto;
}
.services{
    width: 20%;
    padding: 2% 3%;
    margin-left: 5%;
}
.services:hover{
    box-shadow: 0 0 10px 10px #ddd;
    border-radius: 5px;
    transition: box-shadow 0.6s ease-in-out;
}

.circle-images{
    margin-top: 10%;
}
.circle-images::after{
    background-image: url(images/our-courses-left-dec.png);
    width: 291px;
    height: 231px;
    content: ' ';
    position: absolute;
    z-index: -1;
    left: 50px;
}

.circle-images::before{
    background-image: url(images/our-courses-right-dec.png);
    width: 291px;
    height: 231px;
    content: ' ';
    position: absolute;
    z-index: -1;
    right: 50px;
}

.course-section{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20%;
}
.courses{
    width: 30%;
    margin: auto;
}

.services-section{
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
}
.service2{
    width: 25%;
    margin-left:150px;
    margin-right: 60px;
}
.services2{
    border: 3px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
}
.services2:hover{
    box-shadow: 0 0 5px 5px #DF8EDA ;
    border: 3px solid #DF8EDA;
    color: #DF8EDA;
    cursor: pointer;
}
.service-three{
    width: 50%;
    margin-left: 30px;
    display: flex;
    box-shadow: 0 0 5px 5px  #ddd;
    border-radius: 10px;
    padding: 40px 40px 40px 0px;
}
.service-3 img{
    border-radius: 15px 0px 0px 15px;
}
#course-details{
    padding-left: 25px;
}
#course-details p, h5, a{
    font-size: 1.3em;
}

.coupon-section{
    background-image: url(images/cta-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 180px 0px;
}
.coupon{
    width: 75%;
    margin: auto;
    display: flex;
    color: white;
}
#coupons-2{
    padding-left: 7%;
}
#coupons-2 p {
    font-size: 1.3em;
}
.coupon-para{
    margin-bottom: 15%;
}
.coupon-button{
    padding: 10px 30px;
    text-decoration: none;
    background-color: white;
    color: #DF8EDA;
    border-radius: 5px;
}
.coupon-button:hover{
    background-color: #ddd;
}

.testimonial:before{
    position: absolute;
    content: '';
    background-image: url(images/testimonials-left-dec.png);
    width: 593px;
    height: 352px;
    margin-top: -100px;
    left: 0;
    z-index: -1;
}
.testimonial:after{
    background-image: url(images/testimonials-right-dec.png);
    position:absolute;
    content: '';
    z-index: -1;
    width: 632px;
    height: 352px;
    right: 0px;
    margin-top: -100px;
}
.testimonial-heading{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
}
.testimonial-body{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}
.testimonial-review{
    margin-left: 20px;
    width: 30%;
    padding-top: 30px;
}
.testimonial-review q{
    font-style: italic;
}
.testimonial-review h5{
    color: blueviolet;
    margin-top: -10px;
}
.writer{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.writers{
    text-align:left;
}
.testimonial-review:hover{
    box-shadow: 0 0 10px 10px #ddd;
    border-radius: 10px;
}

.contact-section{
    display: flex;
    margin-top: 20%;
}
#contact1{
    border: 2px solid #ddd;
    width: 120%;
    text-align: center;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.contact img{
    width: 100%;
    border-radius: 20px;
}
#contact2{
    width: 100%;
}
#contact2 img{
    width: 80%;
    padding: 10px;
    border: 2px solid  #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #DF8EDA;
    margin-left: -70px;
    margin-top: 20%;
    position: relative;
    z-index: 1;
}
.callme{
    background-color: white;
    border: 2px solid #ddd;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 12px 17px;
}
.callme2{
    background-color: white;
    border: 2px solid #ddd;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 27px;
    margin-left: 20px;
}
.callsme {
    margin-top: -87px;
    margin-left: 122px;
    font-weight: 600;
    display: flex;
}
#icons{
    font-size: 1.5em;
    color: slategrey;
    margin-right: 10px;
}
