body{
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}
h1{
    font-size: 70px;
}

.grey-text{
    color:beige;
    font-size: 1.3em;
    margin-bottom: -30px;
    margin-top: 80px;
}
.dreams{
    display: flex;
    margin-top: 5%;
}
.dreams::after{
    background-image: url(images/banner-left-dec.png);
    position: absolute;
    width: 214px;
    height: 429px;
    content: '';
    bottom: -50px;
    z-index: -1;
}
#welcome2::after{
    background-image: url(images/banner-right-dec.png);
    position: absolute;
    width:378px;
    height: 378px;
    content: '';
    right: 50px;
    z-index: -1;
}
.welcomes{
    width: 50%;
    margin-left: 10%;
}
.welcomes img {
    width: 80%;
}
.color-text{
    color: blueviolet;
}
.join-button{
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blueviolet, #DF8EDA);
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 5px;
}